*.bak
/.idea
*.name
projects/pagepiling/.idea/*.*
projects/pagepiling/.idea/scopes/scope_settings.xml
projects/163/*.*
projects/163.rar
projects/fullpage/.idea/workspace.xml
projects/fullpage/.idea/workspace.xml
projects/fullpage/.idea/workspace.xml
projects/fullpage/.idea/workspace.xml
projects/fullpage/.idea/workspace.xml
projects/fullpage/.idea/inspectionProfiles/profiles_settings.xml
projects/fullpage/.idea/inspectionProfiles/Project_Default.xml
projects/fullpage/.idea/workspace.xml
projects/fullpage/.idea/workspace.xml
